/*Global*/
*{
    margin: 0;
    padding: 0;
}

/*Nav bar*/

.nav-bar{
    display: flex;
    justify-content: space-between;
    height: 8vh;
    background-color: #8795ef;
    padding: 10px 0 ;
    align-items: center;
}

.nav-bar img{
    margin-left: 20px;
}

.nav-bar ul{
    display: flex;
    list-style: none;
    
}

.nav-bar ul li{
    cursor: pointer;
    margin: 0 40px;
    font-weight: bold;
    text-decoration: none;
}

/*.lateral{
    background-color: #8795ef;
    opacity: .5;
    display: grid;
    grid-template-columns: 1fr;
}*/

